extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/awareness.css
      include ../static/css/responsive.css
block content
    section.awareness-content
        //- h1.awareness-content-header Heading
        //- h3.awareness-content-subheader Suheading
        .conatiner 
          .left
            img(src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg", alt="") 
          .right
            h1 Free Yoga Sessions 
            h4 Date: 18th, 19th, 20th June
            h4 Time: 5:30pm IST 
            h4 Platform: Google Meet
            h4 Speakers: Ketaki Gham, Nishu Bansal, Garima Baleja
            p.descpription To promote mental clarity and calmness; increases body awareness; relives chronic stress patterns; relaxes the mind; centers attention; and sharpens concentration.
            a(href="https://forms.gle/aZcQvMaRCmuUb7wk8" target="_blank").register-btn Register Now!
        .conatiner 
          .right
            h1 Information Session on the LGBTAQ Community 
            h4 Date: 21st June
            h4 Time: 6:30pm IST
            h4 Platform: Instagram live
            h4 Speaker: Dr. Vani Sud
            p.descpription The one who is set to prove that "Women" too can live it all. Dentist by profession, Teacher by choice, Naturalist by heart, Nomad by spirit and a Believer by grace.
            a(href="https://forms.gle/FTBDfKcxvg53DSCm6" target="_blank").register-btn Register Now!
          .left
            img(src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg", alt="") 
        .conatiner 
          .left
            img(src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg", alt="") 
          .right
            h1 Strive with Pride 
            h4 Date: 28th June
            h4 Time: 8:30pm IST & 8am PST 
            h4 Platform: Google Meet
            h4 Speaker: Jenna Slaughter
            p.descpription Jenna Slaughter is a Self-Love coach and host of The Unlearning Podcast- Healing Anxiety, Unlearning Conditioning. They are a member of the LGBTQ+ community and help people practice radical self-acceptance, use their brain to have a better experience, and navigate the world with more ease.
            a(href="https://forms.gle/KeZKZ6oD6wAR8vds6" target="_blank").register-btn Register Now!
        .conatiner 
          .right
            h1 Not Those Days of The Month 
            h4 Date: 3rd, 4th June
            h4 Time: 5pm IST
            h4 Platform: Google Meet
            h4 Speakers: Ms. Sharanya Rajashekar, Ms. Deeksha Gupta
            p.descpription Menstruation and Period Products An introduction to the biology of menstruation, followed by a discussion on the various period products available, to facilitate an informed choice.
            p.descpription A discussion of some menstrual disorders, their symptomatology, management and treatment.
            a(href="https://forms.gle/nEbxEqZb3ycd7PybA" target="_blank").register-btn Register Now!
          .left
            img(src="https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg", alt="") 

block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/awareness.js