extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/awareness.css
      include ../static/css/responsive.css
block content
    section.awareness-content
        .conatiner 
          .right
            h1 HOMO - PHOBIA OR SICKNESS? 
            h4 Date: 13th July, 2021
            h4 Time: 9pm IST
            h4 Platform: Youtube Live
            h4 Speakers: Suhani Moontasir Shaikh
            p.descpription A truly victorious artist and a compassionate business transgender. Yes! proudly presenting Suhani Moontasir Shaikh for the awareness session on homophobia or sickness! This person is not only capable of dreaming but also turning it into reality.
            a(href="https://youtu.be/AjQHNFu41Uc" target="_blank").register-btn Register Now!
          .left
            img(src="../static/images/awareness/suhani.png", alt="PHOBIA OR SICKNESS") 

block scripts
  script
    include ../static/Javascript/hamburger.js
    include ../static/Javascript/awareness.js