extends base.pug
block style
    style
      include ../static/css/home.css
      include ../static/css/responsive.css
      include ../static/css/events.css
      include ../static/css/covid.css
block content
  .section
    h1.w3-center MASKS & SANITIZER DISTRIBUTION - UP
    p 
      | As the number of cases are rising, our volunteers distributed Masks to the underprivileged people on the Roads of Kandhla, Uttar Pradesh. A small contribution towards this global pandemic.
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3400 }')
      .carousel-cell.event17-1
      .carousel-cell.event17-2
      .carousel-cell.event17-3
    h1.w3-center CLOTHES DONATION - JAMMU & PUNE
    p 
      | We are delightful to share that we were able to undertake our clothes distribution drive successfully in Jammu and Pune. We would continue to help people and with their blessings with us we assure you that it’ll be a long ride.
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3400 }')
      .carousel-cell.event16-1
      .carousel-cell.event16-2
      .carousel-cell.event16-3
      .carousel-cell.event16-4
      .carousel-cell.event16-5
      .carousel-cell.event16-6
      .carousel-cell.event16-7
      .carousel-cell.event16-8
    h1.w3-center SANITARY NAPKINS DONATION - PUNE
    p 
      | It’s our profound happiness to share with you our successful fleet that we have covered! Our team successfully concluded an awareness session regarding sanitary hygiene and distributed sanitary pads to 15 girls of Sarthak Seva Sang in Saswad along with some Namkeen Packets!
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3400 }')
      .carousel-cell.event15-1
      .carousel-cell.event15-2
      .carousel-cell.event15-3
      .carousel-cell.event15-4
      .carousel-cell.event15-5
      .carousel-cell.event15-6
      .carousel-cell.event15-7
      .carousel-cell.event15-8
      .carousel-cell.event15-9
  .section
    h1.w3-center CLOTHES DONATION DRIVE - PUNE
    p 
      | We are contented to state that today our volunteers successfully donated clothings🧥 to adorable children and people from slum areas of FC and nearby areas marking another landmark in our journey. We’re so proud to have each one of our volunteer in this team. Everything was undertaken in a precautionary manner keeping safety in mind.
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3400 }')
      .carousel-cell.event14-1
      .carousel-cell.event14-2
      .carousel-cell.event14-3
      .carousel-cell.event14-4
      .carousel-cell.event14-5
      .carousel-cell.event14-6
      .carousel-cell.event14-7
      .carousel-cell.event14-8
  .section
    h1.w3-center SANITARY NAPKINS DISTRIBUTION
    p 
      | The event took place on 10th January, 2021 at Muskan Home for mentally challenged kids in Jammu, India. A complete one year stock was distributed to a total of 13 girls along with toys were distributed to 27 children at the orphanage. This event could not have been possible without the help of Raho Safe India for providing us with the Sanitary Napkins at a very lost cost and Mr. abhishek Langer for sponsoring toys. We'd also like to thank our volunteers for executing this event beautifully in a healthy, safe and happy environment. It are events like these that encourage us to do more and help people to brighten up their lives!
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":4200 }')
      .carousel-cell.event13-1
      .carousel-cell.event13-2
      .carousel-cell.event13-3
      .carousel-cell.event13-4
      .carousel-cell.event13-5
      .carousel-cell.event13-6
      .carousel-cell.event13-7
      .carousel-cell.event13-8
  .section
    h1.w3-center CHOCOLATE DISTRIBUTION
    p 
      | We are happy to share that we were able to distribute approximate 300 Galaxy chocolates to kids of Vishrantwadi, FC road and Sangamwadi. This feat could not have been achieved without the help of Feeding India, as they were the one to sponsor it as well as YUG Foundation as they supplied us with them. The smiles that paved across the faces of kids, was truly heartwarming. It is this that encourages us to do more and more. We plan on taking more challenges up ahead and we’re sure we’ll conquer.
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3200 }')
      .carousel-cell.event12-1
      .carousel-cell.event12-2
      .carousel-cell.event12-3
      .carousel-cell.event12-4
      .carousel-cell.event12-5
      .carousel-cell.event12-6
      .carousel-cell.event12-7
      .carousel-cell.event12-8
      .carousel-cell.event12-9
  .section
    h1.w3-center CHRISTMAS DISTRIBUTION
    p 
      | Entering the Merry week, we take it upon ourselves to lighten up Santa’s schedule. We are proud to share that our team has distributed cupcakes, chocolates, stationery kits, games, art and craft kits and colours to children in orphanages and slums! Everything was undertaken in a precautionary manner with proper safety measure in mind. It’s our favourite and busiest month!
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event11-1
      .carousel-cell.event11-2
      .carousel-cell.event11-3
      .carousel-cell.event11-4
      .carousel-cell.event11-5
      .carousel-cell.event11-6
      .carousel-cell.event11-7
      .carousel-cell.event11-8
      .carousel-cell.event11-9
  .section
    h1.w3-center BLANKET DISTRIBUTION AMONG TRANSGENDER COMMUNITY
    p 
      | We are proud to announce that Sharva foundation distributed 40 blankets and warm clothes in light of the winter ahead among the transgender community in Mahada colony in Pune. It warmed our hearts to see their co operation and their support towards us and with that very support we could ensure that everything was undertaken in a systematic and precautionary way.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event10-1
      .carousel-cell.event10-2
      .carousel-cell.event10-3
      .carousel-cell.event10-4
      .carousel-cell.event10-5
      .carousel-cell.event10-6
      .carousel-cell.event10-7
      .carousel-cell.event10-8
      .carousel-cell.event10-9
  .section
    h1.w3-center ANNUAL CLOTHES DISTRIBUTION DRIVE - PUNE & JAMMU 
    p 
      | We are delightful to share with you that Sharva Foundation has yet again established another memento as we were able to undertake our clothes distribution drive successfully. This event was carried out at the different areas in Pune and Jammu. We would also like to thank all our volunteers for their help along the entire duration and ensuring that everything was carried out in a systematic and safe way keeping all the precautions in mind. We would continue to help people and with their blessings with us we assure you that it’ll be a long ride.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event9-1
      .carousel-cell.event9-2
      .carousel-cell.event9-3
      .carousel-cell.event9-4
      .carousel-cell.event9-5
      .carousel-cell.event9-6
      .carousel-cell.event9-7
      .carousel-cell.event9-8
  .section
    h1.w3-center CHIPS DISTRIBUTION - PUNE 
    p 
      | We distributed 5 full boxes of chips i.e. 750 packets of Chips to kids of Hadapsar, Swargate and Sayyed Nagar -Pune, Maharashtra. This feat could not have been achieved without the help of Feeding India, as they were the one to sponsor it as well as YUG Foundation as they supplied us with them. We plan on taking more challenges up ahead and we’re sure we’ll conquer.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event8-1
      .carousel-cell.event8-2
      .carousel-cell.event8-3
      .carousel-cell.event8-4
      .carousel-cell.event8-5
      .carousel-cell.event8-6
      .carousel-cell.event8-7
      .carousel-cell.event8-8
      .carousel-cell.event8-9
  .section
    h1.w3-center ROADSIDE BLANKET DISTRIBUTION - JAMMU
    p
      | At the most important time of the year when the winter is at its hardest, we  provided warmth to those people in need by donating 100 blankets. We distributed blankets to roadaside people residing in different areas of Jammu. 
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3200 }')
      .carousel-cell.event7-1
      .carousel-cell.event7-2
      .carousel-cell.event7-3
      .carousel-cell.event7-4
      .carousel-cell.event7-5
      .carousel-cell.event7-6
      .carousel-cell.event7-7
      .carousel-cell.event7-8
      .carousel-cell.event7-9
  .section
    h1.w3-center CHILDREN&apos;S DAY
    p
      | Diwali wasn’t completely filling out the 14th of November and thus Children’s day decided to kick in. Our team went an extra mile and did what we do best. Help. We donated pair of traditional clothes, faral boxes, cupcakes, chocolates, juice packs and diwali essentials  to 60 children at Mamta Bal Sadan orphanage located at Saswad Pune. We guess this is the way Sharva Foundation likes to celebrate any occasion. The children were extremely polite and gentle and made this day special for us too. Children are the founding blocks of the walls on which our society rests and thus they are essential.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3300 }')
      .carousel-cell.event6-1
      .carousel-cell.event6-2
      .carousel-cell.event6-3
      .carousel-cell.event6-4
      .carousel-cell.event6-5
      .carousel-cell.event6-6
      .carousel-cell.event6-7
      .carousel-cell.event6-8
      .carousel-cell.event6-9
  .section
    h1.w3-center DIWALI ROADSIDE DISTRIBUTION - PUNE
    p
      | The Festival of Lights was graciously upon us and although the festivities might get diminished but the necessities still remain. With that, we  successfully completed event of roadside distribution, of boxes of joy which were distributed among 30 families at Kondwa, Viman Nagar, Yerwada, Ghorpadi, Katraj and Kalyani Nagar. As it was Diwali, the boxes of joys contained Faral boxes, Blankets, Cupcakes, Namkeen packets and Diwali essentials. Everything was corresponded under proverb safety precautions. We’d also like to take this opportunity to cognisance, that although we might get overwhelmed with the extent of our festivities, there’s always someone out there you can help.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3400 }')
      .carousel-cell.event5-1
      .carousel-cell.event5-2
      .carousel-cell.event5-3
      .carousel-cell.event5-4
      .carousel-cell.event5-5
      .carousel-cell.event5-6
  .section
    h1.w3-center BLANKET DISTRIBUTION - NOIDA
    p
      | 2nd Oct 2020, what a remarkable day! Sharva Foundation had conquered yet another milestone! This event was a
      | tribute to Atharva Muley, founding member of SHARVA Foundation, a dear friend and an insightful human being. A
      | total of 50 food kits were distributed among people staying at labor camp near ARV Newtown situated in Pisoli,
      | Pune.We were overwhelmed to see the numerous donations from our volunteers. Another volunteer, MS Shilpa, who was
      | celebrating her birthday, decided to share her happiness with the kids with delicious cakes. Packets of laddoos
      | were also given out which we are sure made their day.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":3800 }')
      .carousel-cell.event4-1
      .carousel-cell.event4-2
      .carousel-cell.event4-3
      .carousel-cell.event4-4
      .carousel-cell.event4-5
      .carousel-cell.event4-6
      .carousel-cell.event4-7
      .carousel-cell.event4-8
      .carousel-cell.event4-9
  .section
    h1.w3-center NUTRITION WEEK
    p
      | Sharva foundation felt an overwhelming sense of happiness and pride as for the first time we were able to
      | undertake our event of distribution of Blankets successfully. On the 20th of September, 2020, a total of 50
      | blankets were distributed at the Labor camp near Parthalagaon, Noida. It was a heartfelt moment for us to reach
      | out our hands to help the people and we are thankful for our members in Delhi who made this possible.
    .carousel(data-flickity='{ "groupCells": true,"autoPlay":3600 }')
      .carousel-cell.event3-1
      .carousel-cell.event3-2
      .carousel-cell.event3-3
      .carousel-cell.event3-4
      .carousel-cell.event3-5
      .carousel-cell.event3-6
      .carousel-cell.event3-7
      .carousel-cell.event3-8
      .carousel-cell.event3-9
  .section
    h1.w3-center CHOCOLATE DISTRIBUTION
    p
      | Happiness doesn&rsquo;t result from what we get, but from what we give and on the 26th of August 2020, Sharva family
      | achieved happiness having donated 2500 Kinder Joy Chocolates to the children of Parvati Paitha, Khilarewadi slum,
      | Pan Mala slum, Yewalewadi and Maher Foundation. The smiles that paved across the faces of kids, was truly
      | heartwarming and this was made possible by the gracious sponsorship by Zomato and Yug Foundation.
    .carousel(data-flickity='{ "groupCells": true ,"autoPlay":4000}')
      .carousel-cell.event2-1
      .carousel-cell.event2-2
      .carousel-cell.event2-3
      .carousel-cell.event2-4
      .carousel-cell.event2-5
      .carousel-cell.event2-6
      .carousel-cell.event2-7
      .carousel-cell.event2-8
      .carousel-cell.event2-9
  .section
    h1.w3-center INDEPENDENCE DAY
    p
      | Sharva family&rsquo;s first task was successfully executed on the 15th August, 2020. We were able to enumerate Slippers,
      | Cupcakes, Markers, White boards, Chocolates, Notebooks, Pencils and Sanitary napkins to Sarthak Seva Sangh in Pune
      | District, Maharashtra. This event was made possible by the generous sponsorship from Yug Foundation, SSD Box of
      | Delight, Jagruti Group and Advayta Zadoo.
    .carousel(data-flickity='{ "groupCells": true, "autoPlay":4200 }')
      .carousel-cell.event1-1
      .carousel-cell.event1-2
      .carousel-cell.event1-3
      .carousel-cell.event1-4
      .carousel-cell.event1-5
      .carousel-cell.event1-6
      .carousel-cell.event1-7
      .carousel-cell.event1-8
      .carousel-cell.event1-9
block scripts
  script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
    script(src='../static/Javascript/activateEvents.js')
    script(src='../static/Javascript/hamburger.js')