.event1-1 {
    background: url(/static/images/food/atharv/cover.jpeg) no-repeat center center/cover;
}
.event1-2 {
    background: url(/static/images/food/atharv/1.jpeg) no-repeat center center/cover;
}
.event1-3 {
    background: url(/static/images/food/atharv/2.jpeg) no-repeat center center/cover;
}
.event1-4 {
    background: url(/static/images/food/atharv/3.jpeg) no-repeat center center/cover;
}
.event1-5 {
    background: url(/static/images/food/atharv/4.jpeg) no-repeat center center/cover;
}
.event1-6 {
    background: url(/static/images/food/atharv/2.jpeg) no-repeat center center/cover;
}
.event1-7 {
    background: url(/static/images/food/atharv/6.jpeg) no-repeat center center/cover;
}
.event1-8 {
    background: url(/static/images/food/atharv/2.jpeg) no-repeat center center/cover;
}
.event1-9 {
    background: url(/static/images/food/atharv/4.jpeg) no-repeat center center/cover;
}

.event2-1 {
    background: url(/static/images/food/diwali_rd_jammu/1.jpeg) no-repeat center center/cover;
}
.event2-2 {
    background: url(/static/images/food/diwali_rd_jammu/2.jpeg) no-repeat center center/cover;
}
.event2-3 {
    background: url(/static/images/food/diwali_rd_jammu/3.jpeg) no-repeat center center/cover;
}
.event2-4 {
    background: url(/static/images/food/diwali_rd_jammu/4.jpeg) no-repeat center center/cover;
}
.event2-5 {
    background: url(/static/images/food/diwali_rd_jammu/5.jpeg) no-repeat center center/cover;
}
.event2-6 {
    background: url(/static/images/food/diwali_rd_jammu/6.jpeg) no-repeat center center/cover;
}
.event2-7 {
    background: url(/static/images/food/diwali_rd_jammu/7.jpeg) no-repeat center center/cover;
}
.event2-8 {
    background: url(/static/images/food/diwali_rd_jammu/8.jpeg) no-repeat center center/cover;
}
.event2-9 {
    background: url(/static/images/food/diwali_rd_jammu/9.jpeg) no-repeat center center/cover;
}

.event3-1 {
    background: url(/static/images/food/foodDonateJammu/1.jpeg) no-repeat center center/cover;
}
.event3-2 {
    background: url(/static/images/food/foodDonateJammu/2.jpeg) no-repeat center center/cover;
}
.event3-3 {
    background: url(/static/images/food/foodDonateJammu/3.jpeg) no-repeat center center/cover;
}
.event3-4 {
    background: url(/static/images/food/foodDonateJammu/4.jpeg) no-repeat center center/cover;
}
.event3-5 {
    background: url(/static/images/food/foodDonateJammu/5.jpeg) no-repeat center center/cover;
}
.event3-6 {
    background: url(/static/images/food/foodDonateJammu/6.jpeg) no-repeat center center/cover;
}
.event3-7 {
    background: url(/static/images/food/foodDonateJammu/7.jpeg) no-repeat center center/cover;
}
.event3-8 {
    background: url(/static/images/food/foodDonateJammu/8.jpeg) no-repeat center center/cover;
}


.event4-1 {
    background: url(/static/images/food/UP_ration_kit/1.jpeg) no-repeat center center/cover;
    background-size: 100% 100%;
}
.event4-2 {
    background: url(/static/images/food/UP_ration_kit/2.jpeg) no-repeat center center/cover;
}
.event4-3 {
    background: url(/static/images/food/UP_ration_kit/3.jpeg) no-repeat center center/cover;
}
.event4-4 {
    background: url(/static/images/food/UP_ration_kit/4.jpeg) no-repeat center center/cover;
    
}
.event4-5 {
    background: url(/static/images/food/UP_ration_kit/5.jpeg) no-repeat center center/cover;
    background-size: 100% 100%;
}
.event4-6 {
    background: url(/static/images/food/UP_ration_kit/6.jpeg) no-repeat center center/cover;
    background-size: 100% 100%;
}